/* override player top title bar mask */
.bpx-player-top-wrap .bpx-player-top-mask {
  background: none !important;
}

/* override player bottom control bar */
.bpx-player-control-wrap {
  opacity: 0.7;
}

#bilibili-player,
#shinonome {
  &.danmaku-hidden {
    .bpx-player-dm-switch,
    .bpx-player-row-dm-wrap,
    .bpx-player-cmd-dm-wrap,
    .bpx-player-dialog-wrap {
      opacity: 0;
      user-select: none;
      visibility: hidden;
    }
  }
}
